.postPage{
    max-width: 90%;
    margin: 0px auto;
}
@media screen and (max-width: 700px) {
    .postPage{
        max-width: 100%;
    }
  
  }
.postpageImg{
    max-height: 370px;
    overflow: hidden;
    display: flex;
}
.postpageImg img{
    object-fit: cover;
    object-position: center center;
}
.postPage h1{
    text-align: center;
}
.postPage time{
    display: block;
    text-align: center;
    margin-top: -14px;
    font-weight: bold;
    color: #aaa;
}
.postPage .postpage-author{
    text-align: center;
    margin-top: .2rem ;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
 .edit-post{
    margin: .6rem auto;
    width: max-content;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px ;
    padding: .4rem .8rem;
    border-radius: .2rem;
    transition: .2s ease-in;
  }
  .edit-post a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
  }
  .edit-post:hover{
    letter-spacing: .1rem;
  }