@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&family=Poppins&display=swap');
  header{
    display:flex;
    justify-content:space-between;
    margin-bottom: 50px;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid gray;
    position: relative;
  }
  header a{
    text-decoration:none;
    color: inherit;
  }
  header a.logo{
    font-weight: bold;
    font-size: 1.9rem;
    font-family: 'Kanit', sans-serif;

  }
  header nav{
    display:flex;
    gap: 24px;
  }
  header nav .navlink{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 3px 1px ;
    padding: .5rem 1rem;
    border-radius: .3rem;
  }
  header nav .navlink .authIcons{
  font-size: .9rem;
  }
  header nav .navlink:hover{
   box-shadow: 1px 1px 1px 1px ;
  }
  .profilename{
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
      top: 2px;
      left: .7rem;
      border-bottom: 1px solid blueviolet;

  }
  @media screen and (min-width: 700px) {
    .profilename{
      font-size: 1.5rem;
      font-weight: 600;
      position: absolute;
      top: -2rem;
      left: 40%;
    }

    header nav .navlink{
        font-size: 1.6rem ;
    }
    header nav .navlink .authIcons{
        font-size: 1.5rem;
        }
        header a.logo{
            font-size: 2.2rem;
        }
  }

  @media screen and (max-width: 700px) {
    header{
      flex-direction: column;
      gap: .5rem;
    }
    header a.logo{
    margin-bottom: .8rem; 
    }
  }