div.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 30px;
    padding: .4rem;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  @media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
   
  }
  
  div.post div.texts h2{
    margin:0;
    font-size: 1.8rem;
  }
  div.post div.texts a{
    text-decoration:none;
    color: inherit;
  }
  div.post p.info{
    margin:24px 0;
    color: #888;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
  }
  div.post p.info a.author{
    color:#333;
  }
  div.post p.summary{
    margin:10px 0;
    line-height: 1.5rem;
  }
  div.post div.image{
     max-height: 250px;
     overflow: hidden;
     display: flex;
  }
  div.post div.image img{
    object-fit: cover;
    object-position: center center;
}

  
@media screen and (max-width: 700px) {
 
  div.post div.texts h2{
    margin:0;
    font-size: 1.6rem;
  }
}