
*{
  box-sizing: border-box;
}
a{
  cursor: pointer;
}
body{
  color: #222;
  background-color: antiquewhite;
}
img{
  max-width: 100%;
}
main{
  background-color: rgba(250, 250, 250, 0.808);
  padding: 1rem;
  max-width: 70rem;
  margin: 0 auto;
  box-shadow: 1px 1px 3px gray;
  border-radius: .5rem;
}


/*--------- login & register page styles---------- */


form.login, form.register{
  max-width: 60%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
form.createPost, form.editPost{
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
form.editPost .heading,form.createPost .heading{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
input{
  display: block;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: .8rem 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
input::placeholder{
  font-size: 1.1rem;
}

button{
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  display: block;
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding:  .7rem;
  transition: .2s ease-in;
}
button:hover{
  background-color: rgb(63, 63, 63);
  letter-spacing: .1rem;
}
form.login h1, form.register h1{
  text-align: center;
}
@media screen and (max-width: 764px) {
  input::placeholder{
    font-size: .8rem;
  }
  input{
  font-size: .8rem;
  padding: .6rem .8rem;
  }
  button{
    font-size: .9rem;

  }
  form.editPost .heading{
    font-size: 1.5rem;
    margin-bottom: .7rem;
    font-weight: 500;
  }
}
/* -------------------------------------------------  */

div.post-page div.image{
  max-height:300px;
  display: flex;
  overflow:hidden;
}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page a{
  color:#333;
  text-decoration: underline;
}
div.post-page h1{
  text-align: center;
  margin: 10px 0 5px;
}
div.post-page time{
  text-align: center;
  display: block;
  font-size:1rem;
  color:#aaa;
  margin: 10px 0;
}
div.post-page div.author{
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}
div.content p{
  line-height: 1.7rem;
  margin: 30px 0;
}
div.content li{
  margin-bottom: 10px;
}
div.edit-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding:15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
a svg{
  height:20px;
}


